ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
ADMIN_API_KEY=Admin
PANEL_AUTH_SIGNING_KEY=cambie-esta-clave-larga-y-secreta
SUPERADMIN_EMAIL=superadmin@avanzarsoluciones.com
SUPERADMIN_PASSWORD=AvanzarAdmin2026!
ConnectionStrings__Default=Host=localhost;Port=5432;Database=informes_avanzar;Username=informes;Password=informes
BITRIX_WEBHOOK_URL=https://tuinstancia.bitrix24.es/rest/USUARIO_ID/TOKEN/
Bitrix__WebhookUrl=https://tuinstancia.bitrix24.es/rest/USUARIO_ID/TOKEN/
Bitrix__Scopes=crm,user
Bitrix__SecretName=projects/PROJECT_ID/secrets/bitrix-token/versions/latest
